<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Categories</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>
                {% for category in product.categories.all %}
                    <dd>{{ category.name }}</dd>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>